---
import { Code } from "astro-expressive-code/components"
import Picture from "astro/components/Picture.astro";

import FloraccessDoc1White from "@assets/projects/floraccess/floraccess_docs_1_white.png";
import FloraccessDoc2White from "@assets/projects/floraccess/floraccess_docs_2_white.png";

const usersTableInit = `
-- Table to store user information
CREATE TABLE users (
    id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    email VARCHAR(320) NOT NULL,
    pseudo VARCHAR(255) NOT NULL,

    auth_methods_id INTEGER NOT NULL,
    is_connected BOOLEAN DEFAULT TRUE,
    last_logout_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    is_verified_email BOOLEAN DEFAULT FALSE,
    last_login TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,
    last_ip VARCHAR(512),

    email_verify_token_hash VARCHAR(1024),
    secret_hash VARCHAR(1024),
    token_hash VARCHAR(1024),

    created_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT users_email_key UNIQUE (email),
    CONSTRAINT auth_methods_id_fkey FOREIGN KEY (auth_methods_id) REFERENCES auth_methods(id) ON DELETE RESTRICT
);
`;

const zodSchemaExample = `
/**
 * Schéma de validation pour un email, avec prétraitement pour normaliser l'email.
 */
export const EmailSchema = z.preprocess(
    (val) => typeof val === "string" ? val.toLowerCase().replace(/\s+/g, "") : val,
    z.email()
);

/**
 * Schéma de validation pour un pseudo.
 */
export const PseudoSchema = z.string().trim().min(3).max(255);

/**
 * Schéma de validation pour l'insertion d'un utilisateur.
 */
export const UserInsertSchema = z.object({
    email: EmailSchema,
    pseudo: PseudoSchema,
});
`;

const FloraccessArchitecture = `
FlorAccess-api
├── public
│   ├── logo-1024.png
│   ├── logo-144.png
│   ├── logo-16.png
│   ├── logo-192.png
│   ├── logo-512.png
│   ├── logo-72.png
│   ├── logo-96.png
│   ├── favicon.ico
│   └── favicon.png
├── src
│   ├── app.ts
│   ├── config
│   │   └── AppConfig.ts
│   ├── core
│   │   ├── cron
│   │   │   └── validate_users.job.ts
│   │   ├── email
│   │   │   ├── error.email.ts
│   │   │   ├── mailer.ts
│   │   │   └── mailTemplate.ts
│   │   ├── middlewares
│   │   │   ├── default_route.middleware.ts
│   │   │   ├── error.middleware.ts
│   │   │   ├── helmet_http_headers.middleware.ts
│   │   │   ├── rate_limiter.middleware.ts
│   │   │   └── validators
│   │   │       ├── auth_validator.middleware.ts
│   │   │       └── request_validator.middleware.ts
│   │   ├── models
│   │   │   ├── AppError.model.ts
│   │   │   └── Database.model.ts
│   │   └── utils
│   │       └── logger.ts
│   ├── modules
│   │   ├── users
│   │   │   ├── users.controller.ts
│   │   │   ├── users.repository.ts
│   │   │   ├── users.routes.ts
│   │   │   ├── users.schema.ts
│   │   │   ├── users.service.ts
│   │   │   ├── users.swagger.ts
│   │   │   └── users.types.ts
│   ├── server.ts
│   └── swagger
│       └── swagger.ts
├── tests
│   ├── modules
│   │   └── users
│   │       └── users.spec.ts
│   └── setup.ts
├── docker-compose.dev.yml
├── docker-compose.yml
├── Dockerfile
├── tsconfig.json
├── jest.config.ts
├── package.json
├── package-lock.json
└── README.md
`;
---

<section class="flex flex-col items-center">
  <div class="max-w-[80%]">
    <h2 class="title-h2">Présentation</h2>
    <p class="paragraph">
      <b>FlorAccess</b> est avant tout une <b>API d'authentification</b> utilisée par mes autres projets. Elle permet un <b>accès sécurisé</b> et <b>sans mot de passe</b> à toutes mes applications, avec un seul compte utilisateur. <b>FlorAccess</b> inclut aussi une <b>application d'administration</b>, accessible uniquement par moi, qui me permet de <b>gérer les utilisateurs</b>.
    </p>

    <p class="paragraph">
      On pourrais comparer FlorAccess au bouton "Se connecter avec Google" que l'on trouve sur de nombreux sites web. Cependant, au lieu d'utiliser Google comme fournisseur d'identité, j'ai créé mon propre fournisseur d'identité.
    </p>

    <p class="paragraph">
      Le fais de créer ma propre API d'authentification me permet notament de créer un écosystème, c'est à dire que toute mes applications qui repose sur cette authentification peuvent s'interconnecter.
    </p>

    <h2 class="title-h2">Acteur</h2>
    <p class="paragraph">
      J'ai créer, tester et déployer FlorAccess tout seul, sans aucune aide. Je suis le seul acteur de ce projet, ce qui signifie que j'ai eu le contrôle total sur toutes les décisions de conception et de développement. Cependant, cela signifie aussi que j'ai dû faire face à tous les défis et les problèmes moi-même, sans pouvoir compter sur l'aide ou les conseils d'autres personnes.
    </p>

    <p class="paragraph">
      J'ai quand même eu l'occasion de discuter de FlorAccess avec d'autres développeurs, au travail pour savoir se qui pensais du principe lui-même mais je n'ai eu aucune aide concrète pour le développement de l'API.
    </p>

    <h2 class="title-h2">Contexte et Objectif (enjeu et risque)</h2>
    <p class="paragraph">
      Avant même de parler de Floraccess, il faux se pencher sur ma toute première application, Econoris. En effet, Econoris a été le projet qui m'a poussé à créer FlorAccess.
    </p>

    <p class="paragraph">
      Econoris est une application de gestion de budget qotidien. Le but étais d'avoir une application ultra simple, pour m'aider moi et aussi toute les personnes qui veulent faire attention à leur budget mais qui ne sont pas familiarisé avec la gestion de budget. Autrement dit, la cible d'Econoris sont les personnes qui veulent faire attention à leur budget mais qui ne sont pas à l'aise avec l'argent en l'informatique en générale.
    </p>

    <p class="paragraph">
      Si je devais définir un personna pour Econoris, je dirais que c'est une mère de famille qui gagne moins de 1600 € par mois, avec deux enfants à charge. Elle a du mal à joindre les deux bouts à la fin du mois, et elle veut une application simple pour l'aider à gérer son budget.
    </p>

    <p class="paragraph">
      Avec cette cible en tête, il faut que tous sois simple, y compris l'authentification. Cependant je ne dois pas négliger la sécurité, car l'application gère des données sensibles. Je ne voulais pas non plus de dépendance à un fournisseur d'identité tiers, comme Google, Microsoft ou Facebook, car cela aurait ajouté de la complexité pour les utilisateurs et aurait aussi posé des problèmes de confidentialité.
    </p>

    <p class="paragraph">
      C'est à cause de toute ses contraintes que j'ai décidé de créer FlorAccess, une API d'authentification simple, sécurisée et sans dépendance à un fournisseur d'identité tiers.
    </p>

    <p class="paragraph">
      La base de FlorAccess c'est vraiment la simplicité, c'est avant pour se besoins que je l'ai créé. Je voulais une API d'authentification qui soit facile à utiliser pour les utilisateurs, sans mot de passe et avec le moins d'étapes possible pour se connecter et s'inscrire. Mais cette simplicité ne doit pas se faire au détriment de la sécurité, c'est pourquoi j'ai mis en place des mesures de sécurité robustes pour protéger les données des utilisateurs.
    </p>

    <p class="paragraph">
      De plus le fait de créer ma propre API d'authentification me permet de créer un écosystème, c'est à dire que toute mes applications qui repose sur cette authentification peuvent s'interconnecter. Par exemple, si un utilisateur se connecte à Econoris avec son compte FlorAccess, il pourra aussi se connecter à mes autres applications avec le même compte, sans avoir à créer un nouveau compte pour chaque application. Cela rend l'expérience utilisateur plus fluide et plus agréable. Les applications peuvent aussi partager des données entre elles, ce qui permet de créer des fonctionnalités plus avancées et plus utiles pour les utilisateurs.
    </p>

    <h2 class="title-h2">Déroulement</h2>
    <p class="paragraph">
      FlorAccess se divise en plusieurs partie distincte, la partie base de données, la partie API d'authentification, la partie intégration avec mes autres applications et la partie application d'administration.
    </p>

    <h3 class="title-h3">Base de données</h3>
    <p class="paragraph">
      Tous d'abord j'ai du créer la base de données pour stocker les données des utilisateurs. La base de données est une base PostgreSQL, qui est un système de gestion de base de données relationnelle open source très populaire et très robuste. J'ai choisi PostgreSQL pour sa fiabilité, sa performance et sa flexibilité, mais aussi parce que j'avais déjà de l'expérience avec ce système de gestion de base de données.
    </p>

    <p class="paragraph">
      J'ai fais le choix de stocker uniquement les données personnelles essentielles comme l'email et le pseudo. Le but est à la fois de simplifier l'inscription et de limiter les données sensibles que je stocke, pour réduire les risques en cas de fuite de données.
    </p>

    <p class="paragraph">
      Je pense que les utilisateurs dont je fais partie en ont marre de devoir remplir des formulaires d'inscription interminable, et de devoir donner leurs informations personnelles à chaque application. En limitant les données que je demande à mes utilisateurs, je rend l'inscription plus rapide et plus simple, ce qui encourage les gens à s'inscrire et à utiliser mes applications. En plus de ça, cela me permet de réduire les risques en cas de fuite de données et de montrer à mes utilisateurs que je respecte leur vie privée en ne collectant pas d'informations supplémentaires.
    </p>

    <p class="paragraph">
      Nous allons passer rapidement en revue la structure de la table "users" que j'ai créé pour stocker les données des utilisateurs. Cette table contient plusieurs colonnes, chacune ayant un rôle spécifique dans le processus d'authentification et de gestion des utilisateurs.
    </p>

    <Code
      class="paragraph"
      code={usersTableInit}
      lang="sql"
      title="Users Table Initialization"
      frame="code"
      showLineNumbers
    />

    <p class="paragraph">
      <b>Id</b> : C'est la clé primaire de la table, elle est générée automatiquement à chaque fois qu'un nouvel utilisateur s'inscrit. Elle sert à identifier de manière unique chaque utilisateur dans la base de données. C'est une pratique très courante et basique, rien de très original ici, si se n'est que j'ai utilisé un ID classique et non un UUID (Universally Unique Identifier) pour des raisons de simplicité.
    </p>

    <p class="paragraph">
      <b>Email</b> et <b>Pseudo</b> : Ce sont les informations personnelles de base que je stocke pour chaque utilisateur. L'email est utilisé pour l'authentification et la communication avec l'utilisateur, tandis que le pseudo est utilisé pour personnaliser l'expérience utilisateur dans mes applications. L'email est aussi unique, ce qui signifie que deux utilisateurs ne peuvent pas s'inscrire avec le même email. Ici aussi, rien de très original. On notera quand même que se sont les seules données personnelles que je stocke, ce qui est assez rare de nos jours.
    </p>

    <p class="paragraph">
      <b>auth_methods_id</b> : Pour comprendre cette colonne, il faut savoir que lors de la création de FlorAccess, j'ai envisagé d'utiliser plusieurs méthodes d'authentification différentes, comme l'authentification par email, l'authentification par mot de passe, l'authentification par application tierce (comme <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=fr">Google Authenticator</a>). J'ai donc créé une table "auth_methods" pour stocker les différentes méthodes d'authentification disponibles, et la colonne "auth_methods_id" dans la table "users" sert à indiquer quelle méthode d'authentification chaque utilisateur utilise.
    </p>

    <p class="paragraph">
      J'ai pu créer un système d'authentification flexible et évolutif, qui me permet d'ajouter de nouvelles méthodes d'authentification à l'avenir sans avoir à modifier la structure de la table "users" grâce à un principe simple de secret. l'idée est que peux importe la méthode d'authentification utilisée, cela se passe en deux étapes : d'abord l'utilisateur envoie sont email et reçoit un token dans le retour de la requête, ensuite il doit envoyer une seconde requête avec le token qu'il a reçu + un secret qui lui à été communiqué par un autre canal (par exemple par email ou par SMS) pour prouver qu'il est bien le propriétaire de l'email qu'il a utilisé pour s'inscrire.
    </p>

    <p class="paragraph">
      Une fois qu'on a compris ce principe, le secret peux être n'importe quoi, ça peux être un mot de passe, un code généré par une application tierce, ou même un code à usage unique envoyé par email ou par SMS. Le token, lui, est utilisé pour vérifier que l'utilisateur a bien initié le processus d'authentification et le secret est utilisé pour vérifier que l'utilisateur est bien le propriétaire de l'email qu'il a utilisé pour s'inscrire. C'est un système d'authentification très simple, mais qui est aussi très flexible et sécurisé.
    </p>

    <p class="paragraph">
      Même si en théorie l'API est déjà capable de gérer l'authentification par mot de passe et par code envoyé par email, je n'ai implémenté que l'authentification par code envoyé par email pour le moment, parce que c'est la méthode d'authentification la plus simple et la plus accessible pour mes utilisateurs tous en étant gratuite et sans dépendance à un fournisseur d'identité tiers.
    </p>

    <p class="paragraph">
      <b>is_connected</b> et <b>last_logout_at</b> : Ces colonnes sont très importantes et vous allez comprendre pourquoi. Avant de se pencher sur ces colonnes, il faut d'abord comprendre comment fonctionne le processus d'authentification dans FlorAccess. Lorsqu'un utilisateur s'inscrit ou se connecte il reçoit un JWT (JSON Web Token). Un JWT est un token d'authentification qui contient des informations sur l'utilisateur et qui est signé numériquement pour garantir son intégrité, donc seul le serveur peut générer des JWT valides. Le JWT est ensuite stocké côté client (par exemple dans le localStorage du navigateur) et envoyé avec chaque requête pour prouver que l'utilisateur est authentifié.
    </p>

    <p class="paragraph">
      Cela veux dire une chose, c'est théoriquement impossible de se déconnecter d'une application, car le JWT est stocké côté client et il n'y a pas de mécanisme de gestion de session côté serveur. C'est là que les colonnes <b>is_connected</b> et <b>last_logout_at</b> entrent en jeu. Grâce à ces colonnes, l'utilisateur peux se déconnecter de l'application, même si le JWT est toujours valide. Parce que si l'utilisateur se déconnecte, la colonne <b>is_connected</b> est mise à false et la colonne <b>last_logout_at</b> est mise à la date et l'heure de la déconnexion. Ensuite, à chaque fois que l'utilisateur envoie une requête avec son JWT, le serveur vérifie d'abord si le JWT est valide, puis il vérifie si l'utilisateur est connecté en regardant la colonne <b>is_connected</b>. Si <b>is_connected</b> est false, cela signifie que l'utilisateur s'est déconnecté et le serveur refuse la requête même si le JWT est valide.
    </p>

    <p class="paragraph">
      Le server vérifie également si le JWT a été émis avant la date de la dernière déconnexion en comparant la date d'émission du JWT avec la colonne <b>last_logout_at</b>. Si le JWT a été émis avant la dernière déconnexion, cela signifie que le JWT est obsolète et le serveur refuse la requête. Grâce à ce système, les utilisateurs peuvent se déconnecter de l'application même si le JWT est toujours valide, ce qui améliore considérablement la sécurité de l'application.
    </p>

    <p class="paragraph">
      Cette fonctionnalité n'est pas présente dans la plupart des systèmes d'authentification basés sur JWT, mais c'était une fonctionnalité essentielle pour moi, car elle permet à un utilisateur qui se fait voler son JWT de le rendre inutilisable en se déconnectant de l'application, même si le JWT est toujours valide. C'est une mesure de sécurité très importante pour protéger les comptes des utilisateurs contre les accès non autorisés.
    </p>

    <p class="paragraph">
      Cette utilisation ingénieuse du JWT permet également de fournir une fonctionnalité de déconnexion de tous les appareils et toutes les applications en même temps. En effet, si un utilisateur se déconnecte de l'application, cela met à jour la colonne <b>last_logout_at</b> avec la date et l'heure de la déconnexion. Donc tous les JWT émis avant cette date deviennent obsolètes, ce qui signifie que l'utilisateur est déconnecté de toutes les applications et tous les appareils en même temps. C'est une fonctionnalité très pratique pour les utilisateurs qui veulent se déconnecter de tous leurs appareils en même temps, par exemple s'ils ont perdu leur téléphone.
    </p>

    <p class="paragraph">
      <b>is_verified_email</b>, <b>last_login</b> et <b>last_ip</b> : Ces colonnes sont principalement utilisées pour garder une trace de l'activité des utilisateurs et pour améliorer la sécurité de l'application. Je pense notamment au cas où un utilisateur reçoit un email de notification de connexion à son compte alors qu'il n'a pas initié le processus de connexion lui même, cela peut être un signe que quelqu'un d'autre essaie d'accéder à son compte. En gardant une trace des dernières connexions et des adresses IP utilisées, je peux détecter les activités suspectes et alerter les utilisateurs en conséquence.
    </p>

    <p class="paragraph">
      La colonne <b>last_ip</b> me permettra aussi de mettre en place des mesures de sécurité supplémentaires à l'avenir, comme le blocage des connexions provenant d'adresses IP suspectes. Je pourrais par exemple vérifier le pays d'origine de l'adresse IP et bloquer les connexions provenant de pays où l'utilisateur n'a jamais été connecté auparavant. Cela peut aider à prévenir les accès non autorisés et à protéger les comptes des utilisateurs contre les tentatives de piratage.
    </p>

    <p class="paragraph">
      <b>email_verify_token_hash</b>, <b>secret_hash</b>, <b>token_hash</b> : Ces colonnes sont utilisées pour stocker les informations nécessaires au processus d'authentification. Vous noterez que je stocke uniquement des hash de ces informations, et non les informations elles-mêmes, pour des raisons de sécurité. Les hash sont une façon de transformer une information en une chaîne de caractères de longueur fixe, qui est généralement illisible et impossible à inverser. Autrement dis il est facile de passé de l'information à son hash, mais il est pratiquement impossible de faire le chemin inverse pour retrouver l'information d'origine à partir de son hash. Cela signifie que même si quelqu'un parvient à accéder à la base de données et à voir les hash, il ne pourra pas retrouver les informations d'origine, ce qui protège les données sensibles des utilisateurs en cas de fuite de données.
    </p>

    <p class="paragraph">
      Grâce au JWT, ces informations ne sont utilisées que lors du processus d'authentification initial, pour vérifier que l'utilisateur est bien le propriétaire de l'email qu'il a utilisé pour s'inscrire. Une fois que l'utilisateur est authentifié et reçoit son JWT, ces informations ne sont plus nécessaires pour les requêtes ultérieures, car le JWT contient déjà toutes les informations nécessaires pour vérifier l'authentification de l'utilisateur. Cela signifie que même si quelqu'un parvient à accéder à la base de données et à voir les hash, il ne pourra pas utiliser ces informations pour accéder aux comptes des utilisateurs, car il n'aura pas accès aux JWT valides.
    </p>

    <p class="paragraph">
      Comme vous pouvez le voir, la structure de la table "users" est conçue pour fournir une base solide pour le processus d'authentification dans FlorAccess, tout en mettant l'accent sur la simplicité et la sécurité. En limitant les données personnelles que je stocke et en utilisant des hash pour les informations sensibles, je peux protéger les données des utilisateurs tout en offrant une expérience d'authentification simple et fluide.
    </p>

    <h3 class="title-h3">API d'authentification</h3>
    <p class="paragraph">
      Après avoir créé la base de données, j'ai développé l'API d'authentification elle même. Cette API est construite en utilisant Node.js, TypeScript, Express, Zod et Swagger. En réalité j'ai aussi utilisé d'autre librairies et outils pour m'aider dans le développement de l'API, <b>jsonwebtoken</b> pour gérer les JWT mais les technologies que j'ai mentionné précédement sont les technologies principales de l'API, celles qui définissent vraiment l'architecture et la structure de l'API. J'ai choisi ces technologies pour leur performance, leur flexibilité, leur sécurité et surtout leur facilité d'utilisation.
      
      J'ai également choisi ces technologies parce que c'est celle qui sont utilisé à Qowisio, donc j'avais déjà de l'expérience et mon maître d'apprentissage m'avait conseillé de les utiliser avec des arguments très convaincants, notamment le fait que ces technologies sont très populaires et qu'elle permet de faire très facilement de l'asynchrone, ce qui est essentiel pour gérer de nombreuses requêtes simultanées ou pour faire des opérations de base de données sans bloquer le thread principal.

      Nous allons voir plus en détail pourquoi j'ai choisi chaque technologie et comment je les ai utilisées dans le développement de l'API d'authentification FlorAccess.

      <b>Node.js</b> est un environnement d'exécution JavaScript côté serveur qui permet de construire des applications web rapides et évolutives. À l'origine JavaScript s'exécutait uniquement dans les navigateurs web, grâce au moteur V8 de Google. En 2009, Ryan Dahl a l'idée de prendre le moteur V8 et de l'utiliser pour exécuter du JavaScript autre part que dans les navigateurs, c'est ainsi que Node.js est né.

      JavaScript étant un langage très simple a apprendre et très populaire, cela à permis à Node.js de devenir rapidement très populaire auprès des développeurs, car il leur permettait d'utiliser un langage qu'ils connaissaient déjà pour construire des applications web côté serveur et d'utiliser un seul langage pour le développement frontend et backend, ce qui simplifie considérablement le processus de développement. De plus, Node.js est très performant grâce à son architecture non bloquante et à son moteur V8, ce qui le rend idéal pour gérer de nombreuses requêtes simultanées, comme c'est le cas pour une API d'authentification.

      Pour ma part, j'ai choisi Node.js pour sa performance, pour éviter d'avoir a configurer un serveur web comme Apache ou Nginx et aussi parce que l'experience que j'ai eu avec Node.js a été très positive, j'ai trouvé que c'était un environnement d'exécution très rapide et très facile à utiliser pour construire des applications web côté serveur.

      En revanche je l'utilise systématiquement avec d'autres technologies. Par exemple, je n'aime vraiment pas JavaScript, je trouve que c'est un langage trop permissif, le manque de types statiques rend le code difficile à maintenir et à faire évoluer et très souvent source de bugs. C'est pour cela que j'utilise Node.js uniquement avec TypeScript. 

      <b>TypeScript</b> est un langage de programmation qui est un sur-ensemble de JavaScript, ce qui signifie qu'il ajoute des fonctionnalités supplémentaires à JavaScript tout en restant compatible avec lui. En fait TypeScript ne peux pas être exécuté directement, il doit d'abord être compilé en JavaScript, c'est ce processus de compilation qui permet à TypeScript d'ajouter des fonctionnalités supplémentaires à JavaScript, notamment les types statiques.

      Donc le développeur écrit du code en TypeScript, en bénéficiant de toutes les fonctionnalités supplémentaires que TypeScript offre, comme les types statiques, les interfaces, les classes, etc. Ensuite, le code TypeScript est compilé en JavaScript, qui peut être exécuté dans n'importe quel environnement JavaScript, y compris Node.js.

      Il faut savoir que TypeScript est devenu très populaire auprès des développeurs JavaScript. Cela signifie que de nombreuses bibliothèques et frameworks JavaScript populaires, comme React, Angular, Vue.js, Express, etc. ont ajouté un support officiel pour TypeScript, ce qui facilite grandement l'utilisation de TypeScript dans les projets JavaScript. Beaucoup de projet historiquement écrit en JavaScript ont aussi été migré vers TypeScript. Aujourd'hui, la plupart des librairies et frameworks sont compatibles avec TypeScript, que se sois grâce à un support officiel ou grâce à des types tiers créés par la communauté, ce qui rend l'utilisation de TypeScript très facile et très pratique pour les développeurs JavaScript.

      <b>Express</b> est un framework web pour Node.js qui facilite grandement la création d'API RESTful en fournissant une structure simple et flexible pour gérer les routes, les requêtes et les réponses. Les routes sont les points d'entrée de l'API, elles définissent les différentes URL que les clients peuvent utiliser pour accéder aux différentes fonctionnalités de l'API. Express permet de définir facilement ces routes et de gérer les requêtes et les réponses associées à chaque route, ce qui simplifie considérablement le processus de développement d'une API RESTful.

      Express est devenu très populaire auprès des développeurs Node.js en raison de sa simplicité, de sa flexibilité et de sa performance. Il est largement utilisé pour construire des API RESTful, des applications web et des microservices, ce qui en fait un choix idéal pour le développement de l'API d'authentification FlorAccess.

      C'est Express couplé à Zod qui vont définir l'architecture de l'API. En effet, Express va gérer les routes, les requêtes et les réponses, tandis que Zod va gérer la validation des données et la définition des schémas de données. Ensemble, ils permettent de construire une API d'authentification robuste, sécurisée et facile à maintenir.

      <b>Zod</b> est une bibliothèque de validation de données pour TypeScript. Le principe de Zod est définnir des schémas de données qui décrivent la structure et les types des données que l'on veux valider. Le type TypeScript est automatiquement créé à partir du schéma Zod, ce qui permet de typé tout le code qui utilise ces données, ce qui améliore considérablement la sécurité et la maintenabilité du code.
      
      Ensuite Zod fournit des fonctions de validation qui permettent de vérifier que les données respectent les schémas définis. Si les données sont valides, elles sont retournées, sinon une erreur de validation est levée, ce qui permet de gérer les erreurs de manière efficace et de fournir des messages d'erreur clairs et personnalisés aux clients de l'API.

      Les schémas Zod peuvent également transformer les données, ce qui permet de normaliser les données d'entrée avant de les utiliser dans le code de l'API. Par exemple, on peut définir un schéma Zod qui accepte une date au format string et qui la transforme en objet Date, ce qui facilite grandement la manipulation des données dans le code de l'API.

      J'utilise les schémas Zod pour validé absolument toutes les données d'entrée et de sortie de l'API, que se sois les données des requêtes ou les données des réponses. Cela me permet de garantir que les données utilisées dans le code de l'API et les données renvoyées aux clients sont toujours valides et conformes aux schémas définis. Donc je suis assuré qu'aucune donnée invalide ne peut causer des bugs ou des comportements inattendus dans l'API, ce qui améliore considérablement la robustesse et la fiabilité de l'API d'authentification FlorAccess.

      Grâce à Zod, aucune donnée invalide ne peux entrer dans le code de l'API, ce qui signifie que je peux me concentrer sur la logique métier de l'API sans avoir à me soucier de la validation des données, car je sais que toutes les données qui entrent dans le code de l'API sont déjà validées et conformes aux schémas définis. Mais ce n'est pas tout, aucune données invalide ne peux non plus sortir de l'API, ce qui signifie que les clients de l'API peuvent être assurés que les données qu'ils reçoivent sont toujours valides et conformes aux schémas définis, ce qui améliore considérablement l'expérience des développeurs qui utilisent l'API d'authentification FlorAccess.

      Voici un exemple de schéma Zod que j'ai défini pour valider les données d'inscription des utilisateurs :

      <Code
        class="paragraph"
        code={zodSchemaExample}
        lang="ts"
        title="Zod Schema Example"
        frame="code"
        showLineNumbers
      />

      On peux voir que ce schéma Zod définit les règles de validation pour les données d'inscription des utilisateurs, notamment l'email et le pseudo. Le schéma utilise la fonction z.preprocess pour normaliser l'email en le convertissant en minuscules et en supprimant les espaces, ce qui permet de garantir que les emails sont toujours stockés dans un format cohérent dans la base de données. Ensuite, le schéma utilise la fonction z.email() pour valider que l'email est bien au format email, et la fonction z.string().trim().min(3).max(255) pour valider que le pseudo est une chaîne de caractères non vide, sans espaces au début ou à la fin, et avec une longueur comprise entre 3 et 255 caractères.

      Grâce à ce schéma Zod, je peux être assuré que les données d'inscription des utilisateurs sont toujours valides et conformes aux règles définies.

      Mais que j'ai des données fiables et bien structurées, je dois documenter les données que je demande et que je renvoie pour chaque point d'entrée de l'API pour que les développeurs et moi même puisse comprendre facilement comment utiliser l'API et quelles données sont attendues pour chaque point d'entrée.

      Pour cela, j'ai utilisé Swagger, anciennement connu sous le nom de OpenAPI, qui est un outil de documentation d'API très populaire et très puissant. Je dois avouer que la première fois que j'ai utilisé Swagger, j'étais septique quant à son utilité, son écriture me semblait très verbeuse et redondante, et je ne voyais pas vraiment l'intérêt de documenter mon API de manière aussi détaillée.

      Cependant, cela avait l'air d'être une bonne pratique largement recommandée par la communauté des développeurs d'API, et je voulais vraiment faire les choses bien pour FlorAccess, donc j'ai décidé de lui donner une chance. Et je dois dire que j'ai été agréablement surpris par les avantages que Swagger m'a apporté.

      Déjà la documentation Swagger s'écrit directement dans le code de l'API, grâce à des commentaires spéciaux qui suivent une syntaxe précise. Cela signifie que la documentation est toujours au même endroit que le code de l'API, ce qui facilite grandement la maintenance de la documentation, car il est plus facile de mettre à jour la documentation en même temps que le code de l'API.

      Ensuite j'ai remarqué que la documentation générée par Swagger est très claire et très facile à comprendre, même pour les développeurs qui ne sont pas familiers avec l'API d'authentification.

      <Picture
        src={FloraccessDoc1White}
        alt="Swagger Documentation Example"
        width={FloraccessDoc1White.width}
        height={FloraccessDoc1White.height}
        loading="lazy"
        decoding="async"
        class="paragraph"
      />

      Comme vous pouvez le voir dans l'exemple ci-dessus, la documentation générée par Swagger est très bien structurée et très facile à lire. Elle permet de visualiser rapidement tous les points d'entrée de l'API, classé par catégorie, et les méthodes HTTP associées à chaque point d'entrée avec des couleurs différentes pour différencier rapidement les méthodes HTTP. Le cadena permet de savoir rapidement si la route nécessite une authentification ou pas.

      Mais ce n'est pas tout, la documentation Swagger, si elle est bien configurée, inclut également des exemples de requêtes et de réponses pour chaque point d'entrée, ce qui permet de comprendre rapidement comment utiliser chaque point d'entrée de l'API et quelles données sont attendues en entrée et en sortie, comme vous pouvez le voir dans l'exemple ci-dessous :
      
      <Picture
        src={FloraccessDoc2White}
        alt="Swagger Documentation Example"
        width={FloraccessDoc2White.width}
        height={FloraccessDoc2White.height}
        loading="lazy"
        decoding="async"
        class="paragraph"
      />

      Mais ce n'est pas fini, vous vous demandez peut-être à quoi peut bien servir le bouton <b>Try it out</b>. Et bien, la documentation Swagger inclut également une interface interactive qui permet de tester les points d'entrée de l'API directement depuis la documentation.
      
      Cela signifie qu'en tant que développeur, je défini mes schémas de données avec Zod, je documente mes points d'entrée avec Swagger, et ensuite je peux tester mes points d'entrée directement depuis la documentation pour vérifier que tout fonctionne correctement et que les données sont bien validées et conformes aux schémas définis.

      C'est une fonctionnalité que j'ai découvert assez tard dans le développement de l'API, mais qui s'est avérée être extrêmement utile pour tester rapidement les points d'entrée de l'API et pour vérifier que la validation des données fonctionne correctement. Grâce à cette interface interactive, je peux tester mes points d'entrée en quelques clics, sans avoir à utiliser des outils externes comme Postman ou Insomnia, ce qui rend le processus de développement beaucoup plus rapide et plus efficace.

      Pour faire les appelles HTTP, Swagger utilise CURL, qui est un outil en ligne de commande très populaire pour faire des requêtes HTTP. Cela signifie que lorsque je clique sur le bouton <b>Try it out</b>, Swagger génère automatiquement la commande CURL correspondante à la requête que je veux tester, ce qui me permet de voir exactement quelle requête est envoyée à l'API et quelles données sont incluses dans la requête, en plus de me permettre de la copier facilement pour la réutiliser dans d'autres outils.

      <h3 class="title-h3">Conclusion des outils utilisés</h3>
      Tous ses outils que j'ai utilisé pour développer l'API d'authentification FlorAccess, Node.js, TypeScript, Express, Zod et Swagger, ont été choisis avec soin pour leurs avantages respectifs et sont devenus des éléments indispensables pour le développement de mes API. Chaque outils à un rôle spécifique dans le développement de l'API, et ensemble ils permettent de construire une API d'authentification robuste, sécurisée, facile à maintenir et agréable à utiliser pour les développeurs qui l'utilisent.

      Tous ensemble ils définissent l'architecture de l'API FlorAccess et de toutes mes API, en fournissant une structure solide pour gérer les routes, les requêtes et les réponses (Express), en garantissant que toutes les données sont valides et conformes aux schémas définis (Zod), en offrant une expérience de développement agréable et efficace grâce au typage statique (TypeScript) et en fournissant une documentation claire, complète et interactive pour les développeurs qui utilisent l'API (Swagger).
    </p>

    <h3 class="title-h3">Architecture</h3>

    

    <Code
        class="paragraph"
        code={FloraccessArchitecture}
        lang="architectural-diagram"
        title="FlorAccess API Architecture"
        frame="code"
        showLineNumbers
      />

    <h3 class="title-h3">Intégration avec mes autres applications</h3>
    <h3 class="title-h3">Application d'administration</h3>

    <h2 class="title-h2">Résultats</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Avenir</h2>
    <p class="paragraph">
      paragraphe
    </p>

    <h2 class="title-h2">Auto-critique</h2>
    <p class="paragraph">
      paragraphe
    </p>
  </div>
</section>
