---
import ExperiencePreview from "@components/experiences/Experience_preview.astro";
import { experiencesPreviewList } from "@/data/experiences";
---

<div class="mt-12 space-y-12" role="list">
  {
    experiencesPreviewList.filter((experience) => experience.displayable).map((experience) => (
      <ExperiencePreview
        id={experience.id}
        title={experience.title}
        description={experience.description}
        imageSrc={experience.imageSrc}
        link={experience.localLink}
      />
    ))
  }
</div>
