---
import ExperienceDetailHeader from "@/components/experiences/Experience_detail_header.astro";
import LalachanteContent from "@/components/experiences/contents/lalachante_content.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getExperienceById } from "@/data/experiences";
import SocialLink from "@/components/Social_link.astro";

const experience = getExperienceById("lalachante");

if (!experience) {
  throw new Error("Experience 'lalachante' not found in experiences data.");
}
---

<MainLayout>
  <ExperienceDetailHeader
    id={experience.id}
    title={experience.title}
    description={experience.description}
    buttonLink={experience.externalLink}
    buttonText={"Voir le site de " + experience.title}
  />

  <SocialLink />

  <div class="max-w-7xl mx-auto mb-24">
    <LalachanteContent image={experience.imageSrc} />
  </div>
</MainLayout>
