---
import ProjetDetail from "@/components/projets/Projet_detail_header.astro";
import MainLayout from "@layouts/MainLayout.astro";
import SocialLink from "@/components/Social_link.astro";
import { getProjectById } from "@/data/projects";

const project = getProjectById("maven-lite");

if (!project) {
  throw new Error("Project 'maven-lite' not found in projects data.");
}
---

<MainLayout>
  <ProjetDetail
    id={project.id}
    title={project.title}
    description={project.description}
    githubButtonText="Voir le projet sur Github"
    githubButtonLink={project.githubLink}
    externalButtonText="Voir le projet en ligne"
    externalButtonLink={project.projectLink}
  />

  <SocialLink />

  <div class="max-w-7xl mx-auto mb-24">
  </div>
</MainLayout>
